In [6]:
import mariadb
import sys

def log(type, mess):
    print(f"[{type}] --> {mess}")
    
try:
    conn = mariadb.connect(
        user='k1997lr103p9b5j0',
        password='pcxvgukbaipvbfa2',
        host='f80b6byii2vwv8cx.chr7pe7iynqr.eu-west-1.rds.amazonaws.com',
        port=3306,
        database='rsa7x8ouhw0w07k3'
    )
    log("INFO", "Successful!")
except mariadb.Error as e:
    print(f"Error when connecting to database: {e}")
    sys.exit(1)
    
log("STAT", conn.server_info)

cur = conn.cursor()

try:
    cur.execute("INSERT INTO testtb (id, name) VALUES (?, ?);", (2, "Danh"))
except mariadb.Error as e:
    print(f'insert failed: {e}')
conn.commit()

cur.execute("SELECT * FROM testtb;")
rows = cur.fetchall()

conn.close()

for row in rows:
    print(row)

[INFO] --> Successful!
[STAT] --> 10.4.30-MariaDB-log
insert failed: Duplicate entry '2' for key 'PRIMARY'
(1, 'Nick')
(2, 'Danh')